# Distribution / packaging
.Python
env/
build/
.ipynb_checkpoints/
dist/
data/
jhu_crowd_v2.0/
database/
checkpoints/
database/
checkpoints/
siamese-triplet/
priority_classes/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.pth
*.hdf5
*.egg
*.weights
DossierImages/
Videos/
*.csv

node_modules
__pycache__/
*.pyc
.coverage
htmlcov
cover
/vis
/kept_models
# Serverless directories
.serverless
/kept_models
/results
/features_path
